version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "8080:80"
    depends_on:
      - api
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    environment:
      - PORT=5000
      - SKIP_DB=true
    ports:
      - "5000:5000"
